body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#hidden {
    visibility: hidden;
    background-color: rgb(150,200,200);
}

#test {
  padding: 15px;
  background-color: rgb(150,255,200);
  border: 5px solid gray;

  width: 30%;
  box-shadow: 10px 10px 5px #AAAAAA;
}